@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box 
}

*:focus {
      outline: none;
}

input[type=text], input[type=number] {
    border-radius: 5px;
}


html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #cbd5e1;
    font-family: "Poppins", sans-serif;
  }

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
    padding: 10px;
    background-color: #9a3412;
}

/* buttons */

#new, #submit, #remove, #radio-result, .books, .close {
    padding: 6px 10px;
    border-radius: 5px;
}

#radio-result {
    background-color: red;   
}

/* Modals */

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
}

#form-container.show {
    pointer-events: auto;
    opacity: 1;
}

#closer {
    display: flex;
    justify-content: end;
    gap: 40%;
}

#finished {
    display: flex;
    justify-content: start;
}

#book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
}

#book-container.show {
    pointer-events: auto;
    opacity: 1;
}

.book-modal {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 20px 40px;
    border-radius: 5px;
    padding: 20px;
}

.book-modal > div {
    display: flex;
    justify-content: end;
    gap: 30%;
}

#form-modal {
    background-color: white;
    width: 600px;
    max-width: 100%;
    padding: 20px 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


/* Library */
main {
    height: 100%;
    width: 100%;
}

#library {
    margin: 5px;
    height: 100%;
    display: flex;
    justify-content: start;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1px;

}

.books {
    height: 265px;
    max-width: 100px;
    overflow-wrap: break-word;
    font-family: Roboto;
    color:antiquewhite;
    font-size: 1.3rem;
}