* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box ;
}

html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #41B3A3;
    color: #2f2fa2;
    width: 100%;
    text-align: center;
    padding: 40px;
    font-size: 2rem;
}

main {
    background-color: #85dbcb;
    width: max(100%, 700px);
    height: max(100%, 700px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #85dbcb;
    color: #2f2fa2;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 10px;
}

button {
    margin: 30px 0 30px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: fit-content;
}

#game-board {
    width: 600px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.cells {
    border: 1px solid black;
}


/* Example: This is how you select a multi class element */
/* .b.two, .b.three{
    background-image: url(o.png);
}

.b.one{
    background-image: url(x.png);
} */