* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box ;
}

html, body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: roboto;
    position: relative;
}

header, h1 {
    position: absolute;
    top: 20px;
    background-color: #85dbcb;
    color: #2f2fa2;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-family: 'Fredoka One', cursive;
    font-size: 3.5rem;
}

main {
    background-color: #85dbcb;
    width: max(100%, 700px);
    height: max(100%, 700px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #85dbcb;
    color: #2f2fa2;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 10px;
}

button {
    margin: 30px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    width: fit-content;
}

#vs {
    font-size: 2rem;
}

#game-board {
    width: 600px;
    height: 600px;
    background-color: white;
    border: 1px solid black;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.cells {
    border: 1px solid black;
}


/* player selection modal */

#modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    opacity: 1;
    background-color: #85dbcb;
}

#modal.close {
    pointer-events: none;
    opacity: 0;
}

#modal > form {
    background-color: rgba(0,0,255);
    width: fit-content;
    max-width: 100%;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    opacity: 1;
    color: azure;
    font-family: roboto;
}

input[type='submit'] {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid black;
    font-family: roboto;
}

#winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    background-color: #2f2fa2;
    font-size: 3rem;
    color: #85dbcb;
}

#winner.show {
    pointer-events: auto;
    opacity: .9;
}